<section id="footer">
  <div class="fb-page" data-href="https://www.facebook.com/programming2020/" data-width="280" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/programming2020/"><a href="https://www.facebook.com/programming2020/">Programming2020</a></blockquote></div></div>
  <ul class="icons">
  	<li><a href="https://twitter.com/{{ site.twitter_username }}" class="fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://github.com/{{ site.github_username }}" class="fa-github"><span class="label">GitHub</span></a></li>
		<li><a href="/feed.xml" class="fa-rss"><span class="label">RSS</span></a></li>
		<li><a href="mailto:{{ site.email }}" class="fa-envelope"><span class="label">Email</span></a></li>
	</ul>
  <p class="copyright">Copyright &copy; 2016 {{ site.author }}</p>
</section>
